<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3b7b2d94-c2ac-4244-baa6-803c6b875085" name="SoapUITestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="3b7b2d94-c2ac-4244-baa6-803c6b875085fileName">SoapUITestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>
