<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="97c952e9-fe78-438f-9224-d01b536d876a" name="ReadyAPITestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="97c952e9-fe78-438f-9224-d01b536d876afileName">ReadyAPITestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>
